.page-container {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    color:#D4AFB9;
    font-family: Arial, Helvetica, sans-serif
}
.page-item {
    display: flex;
    font-size: 50px;
    justify-content: center;
    align-items: center;
    height:200px;
    width: 100%;
    padding: 60px;
}
.page-item-left {
    display: flex;
    width: 50%;
    margin: 100px;
    justify-content: center;
    align-items: center;
}

.page-item-right {
    display: flex;
    width: 50%;
    margin: 60px;
    justify-content: center;
    align-self: center;
}

html {
    background-color: #363732;
}