.header-container {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 5px;
  background-color: #66C3FF;
  color:#DCE1E9;
  height: 70px;
  font-family: Arial, Helvetica, sans-serif;
}

.header-item, .header-item:hover, .header-item:active {
  display: flex;
  margin: 10px;
  font-size: 25px;
}

a, a:hover, a:active {
    text-decoration: none;
    color:#DCE1E9;
}
.header-item:nth-of-type(1) {
    flex-grow: 1;
}